<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NXTLib.BluetoothWrapper.Personal">
      <section name="BluetoothFactory"
          type="NXTLib.BluetoothWrapper.Bluetooth.BluetoothFactorySection, NXTLib.BluetoothWrapper.Personal"
          requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- -->
  <NXTLib.BluetoothWrapper.Personal>
    <BluetoothFactory reportAllErrors="false" oneStackOnly="true">
    </BluetoothFactory>
  </NXTLib.BluetoothWrapper.Personal>
  <!-- -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>